body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
   background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button {
	font-size: 1000px;
}

h1 {
	color: white;
	align-items: center;
	font-size: 4rem;
}

.buffer {
	height: 8rem;
}

.btn {

	border-radius: 300px;
}

.btn:hover {
	border-width: 5px
}

hr {

	border-color: white;
	border-width: 3px;
	max-width: 65px;
}
